/* colors defined at top for easy configuring */
@define-color background #D5C4A1;
@define-color second-background #A89984; /*504945 */
@define-color text #3C3836;
@define-color borders #282828;
@define-color focused #3C3836;
@define-color focused2 #3C3836;
@define-color color1 #458588;
@define-color color2 #B16286;
@define-color color3 #427B58;
@define-color urgent #32302F;


/* font declared */
* {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 11px;
}

#custom-openbracket,
#custom-closebracket {
  margin: 0 5px;
}

/* idk what all this does */
window#waybar {
  background-color: transparent;
  border-bottom: 0;
  color: @text;
  transition: background-color 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
}


/* configuring the modules */
.modules-left {
  margin: 10px 0 0 10px;
  padding: 0 0 0 7px;
  background-color: @background;
  border: 1px solid @focused;
}

.modules-center {
  margin: 10px 0 0 0;
  padding: 0 10px 0 10px;
  background-color: @background;
  border: 1px solid @focused;
} 

.modules-right {
  margin: 10px 10px 0 0;
  padding: 0 10px 0 10px;
  background-color: @background;
  border: 1px solid @focused;
}


button {
  border: none;
}


/* left island */

/* menu pannel */
#custom-arch,
#custom-powerprofile,
#custom-themeswitcher {
  padding-right: 10px;
  padding-left: 5px;
  font-size: 12px;
  border-radius: 8px;
}

#custom-gamemode {      
  padding-right: 5px;
  padding-left: 2px;  
  font-size: 12px;
  border-radius: 8px;
  margin: 0 2px;        
}

/* Optional: Specific tweak if you want extra space just before the Gamemode icon */
#custom-gamemode {
  margin-left: 1px; 
}

#custom-arch:hover {
  color: @color1;
}

#custom-powerprofile:hover {
  color: @color1
}

#custom-themeswitcher:hover {
  color: @color1;
}

/* workspace pannel */
#workspaces button {
  min-width: 0;
  padding: 0 8px 0 8px;
  background-color: transparent;
  color: @text;
  border-radius: 0;
}

#workspaces button:hover {
  background-color: @second-background;
}

#workspaces button.active {
  color: @focused2;
  background-color: @second-background;
}

#workspaces button.urgent {
  background-color: @urgent;
}

/* no idea what this does */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

/* media player */
#mpris {
  margin: 0 0 0 5px;
  padding: 0 9px;
  background-color: @background;
  color: @text;
}

#mpris.playing {
  background-color: @color3;
  border-radius: 2px;
  color: @background;
}


/* center module  */
#window {
  padding: 0 5px;
}

/* Right Island */

/* module general styles */
#clock,
#battery,
#cpu,
#memory,
#custom-clipboard,
#custom-bluetooth,
#network {
  padding: 0 10px;
}

#clock:hover,
#battery:hover,
#custom-cpu:hover,
#custom-clipboard:hover,
#custom-bluetooth:hover,
#network:hover,
#idle_inhibitor:hover,
#custom-swaync:hover,
#backlight:hover,
#wireplumber:hover {
  color: @color1;
}

#idle_inhibitor {
  padding: 0 10px 0 0;
}

#custom-powerprofile {
  padding: 0 8px 0 4px;
}

/* Remaining Modules */
#backlight,
#wireplumber {
  padding: 0 5px;
}

#wireplumber.muted {
  background-color: @color2;
}

#custom-swaync {
  padding: 0 10px 0 5px;
  font-size: 16px;
  /* same scale as other icons */
  color: @text;
}

#battery.charging,
#battery.plugged {
  background-color: @focused2 ;
  color: @background;
}

#battery.critical:not(.charging) {
  background-color: @urgent;
  color: @text;
  animation: blink 0.5s steps(12) infinite alternate;
}

@keyframes blink {
  to {
    background-color: @second-background;
    color: @text;
  }
}

#custom-niflveil {
  padding: 0 10px;
  color: #4c566a;
}

#custom-niflveil.empty {
  color: #4c566a;
}
